@import url('https://fonts.googleapis.com/css?family=Bungee|Monoton');
h1 {
  font-size: 112px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Monoton', cursive;
  font-weight: 400;
}
#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  font-family: 'Bungee', cursive;
  font-weight: 400;
}
#less {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#more {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 35px;
  width: 170px;
  border: none;
  background-color: transparent;
  font-family: 'Bungee', cursive;
  font-weight: 400;
  outline: none !important;
  padding: none;
}
button::-moz-focus-inner {
  border: 0;
}

.ctrl {
  width: 25px;
}

html body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%
  }
  50% {
    background-position: 100% 19%
  }
  100% {
    background-position: 0% 82%
  }
}

@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%
  }
  50% {
    background-position: 100% 19%
  }
  100% {
    background-position: 0% 82%
  }
}

@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%
  }
  50% {
    background-position: 100% 19%
  }
  100% {
    background-position: 0% 82%
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%
  }
  50% {
    background-position: 100% 19%
  }
  100% {
    background-position: 0% 82%
  }
}