body {
  margin: 0;
  background-color: #232323;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-size: 80px;
  font-weight: 600;
}

span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 40px;
}

img {
  display: block;
  margin: 0 auto;
}

button {
  display: block;
  float: left;
  background: none;
  border-color: white;
  color: white;
  font-size: 15px;
}
