div {
  width: 150px;
  height: 150px;
  /*   font-size: 150px;
  text-align: center;
  line-height: 150px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.square {
  margin: 0;
  padding: 0;
}

.v {
  border-left: 4px solid #500;
  border-right: 4px solid #500;
}

.h {
  border-top: 4px solid #500;
  border-bottom: 4px solid #500;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}


.circle {
  width: 100px;
  height: 100px;
  border: 6px solid black;
  margin-top: 22.5px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
  border-radius: 100%;
  animation-name: cir;
  animation-duration: 1s;
}

@keyframes cir {
  from {
    border-radius: 30px;
    width: 120px;
    height: 120px;
   transform: rotate(0deg);
   border-style: double
  }
  to {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    transform: rotate(360deg);
    border-style: solid;
  }
}

.x {
  position: relative;
  top: 15px;
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

.x:before,
.x:after {
  position: absolute;
  left: 15px;
  content: '';
  height: 130px;
  width: 6px;
  background-color: #333;
}

.x:before {
  animation-name: xs;
  animation-duration: 1s;
  transform: rotate(45deg);
}

.x:after {
  animation-name: xl;
  animation-duration: 1s;
  transform: rotate(-45deg);
}

@keyframes xs{
  from {
    transform: rotate(-45deg);
    height: 0px;
  }
  to {
    transform: rotate(45deg);
    height: 130px;
  }
}
@keyframes xl {
  from {
    transform: rotate(45deg);
    height: 0px
  }
  to {
    transform: rotate(-45deg);
    height: 130px;
  }
}

.win {
  position: relative;
  animation-name: win;
  animation-duration: 1.5s;
  background-color: red;
}
.win:after {
  background-color: red;
}
@keyframes win {
  from {
    background-color: blue;
  }
  to {
    background-color: red;
  }
}

.xback {
  position: relative;
  animation-name: xback;
  animation-duration: 1.5s;
  background-color: blue;
}
.oback {
  position: relative;
  animation-name: oback;
  animation-duration: 1.5s;
  background-color: green;
}

@keyframes xback {
  from {
    background-color: rgba(255, 0, 0, 0);
  }
  to {
    background-color: blue;
  }
}
@keyframes oback {
  from {
    background-color: rgba(255, 0, 0, 0);
  }
  to {
    background-color: green;
  }
}