body {
  background: #418b8b;
}

input {
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  background: #51adad8f;
  border: 2px solid rgb(223, 223, 223);
  outline: none;
  height: 1.5rem;
  -moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
  box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
  transition: box-shadow, color 0.4s;
  -webkit-transition: box-shadow, color 0.4s;
  -moz-transition: box-shadow, color 0.4s;
  transition: width 1s;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  text-align: center;
  color: white;
  font-size: 100%;
}

input:hover {
  -moz-box-shadow: 6.5px 8px 8px rgba(68,68,68,0.6);
	-webkit-box-shadow: 6.5px 8px 8px rgba(68,68,68,0.6);
  box-shadow: 6.5px 8px 8px rgba(68,68,68,0.6);
  border-color: white;
}
input:focus {
  width: 30%;
  border-radius: 8px;
}